{% extends 'base.html.twig' %}

{% form_theme form 'defaultFormTheme.html.twig' %}

{% set pageTitle = app.user.name ~ ' ' ~ app.user.surname ~ ' - edit' %}

{% block rightColumnContent %}
	<div class="activities-section">
		<h3>{{ pageTitle }}</h3>

		{{ form(form) }}
	</div>
{% endblock %}
