{% extends 'base.html.twig' %}

{% set pageTitle = activity.title %}
{% set loadMapAssets = true %}
{% set isRoutePage = true %}

{% block leftColumnContent %}
	{% include 'routes/infoSection.html.twig' with { activity: activity } only %}
{% endblock %}

{% block rightColumnContent %}
	<div id="map-section">
		<div
			class="map-route"
			data-polyline="{{ activity.encodedPolyline|google_polyline_decode|json_encode }}"
		></div>
	</div>
{% endblock %}
