{% extends 'base.html.twig' %}

{% set loadMapAssets = true %}

{% block title %}Homepage{% endblock %}

{% block pageTitle %}Homepage{% endblock %}

{% block leftColumnContent %}
	<h4>Welcome {{ app.user.name }} {{ app.user.surname }}!</h4>

	<a href="{{ path('user_logout') }}">Logout!</a>

	{% include 'legend.html.twig' only %}
{% endblock %}

{% block rightColumnContent %}
	<div id="map-section"></div>
{% endblock %}
