{% extends 'base.html.twig' %}

{% set loadMapAssets = true %}

{% block title %}Homepage{% endblock %}

{% block pageTitle %}Homepage{% endblock %}

{% block leftColumnContent %}
	{% include 'legend.html.twig' only %}
{% endblock %}

{% block rightColumnContent %}
	<div id="map-section"></div>
{% endblock %}
