<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">

		<title>Strava App - {{ pageTitle ?? 'Welcome' }}</title>

		<link rel="icon" href="{{ asset('img/icon.png') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">

		{% if app.user and loadMapAssets is defined and loadMapAssets %}
			<link
				rel="stylesheet"
				href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
				integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
				crossorigin=""
			>

			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css">
		{% endif %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		{% if app.user and loadMapAssets is defined and loadMapAssets %}
			<script
				src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
				integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
				crossorigin=""
			></script>

			<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
		{% endif %}

		<script src="{{ asset('js/script.js') }}"></script>
	</head>
	<body>
		{% include 'flashMessages.html.twig' only %}

		<div class="front-page">
			<div class="left-column">
				<div class="title-section">
					<h2>Strava app</h2>
				</div>

				{% include 'userAccountDetails.html.twig' only %}

				<div class="left-column-content">
					{% block leftColumnContent %}{% endblock %}
				</div>

				<div class="copyright-text">© 2020 Strava app by Kamil Werner</div>
			</div>

			<div class="right-column">
				{% block rightColumnContent %}{% endblock %}
			</div>
		</div>

		{% block javascripts %}{% endblock %}
	</body>
</html>
