<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">

        <title>Strava App - {% block title %}Welcome{% endblock %}</title>

        <link rel="icon" href="{{ asset('img/icon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>

        <script src="{{ asset('js/script.js') }}"></script>
    </head>
    <body>
        {% include 'flashMessages.html.twig' only %}

        <div class="front-page">
            <div class="left-column">
                <div class="title-section">
                    <img src="{{ asset('img/icon.png') }}" alt="Strava app logo">

                    <h2>Strava app</h2>
                </div>

                <div class="front-page-content">
                    <h3>{% block pageTitle %}{% endblock %}</h3>

                    {% block leftColumnContent %}{% endblock %}
                </div>

                <div class="copyright-text">© 2020 Strava app by Kamil Werner</div>
            </div>

            <div class="right-column">
                {% block rightColumnContent %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
