<div class="flash-messages-container">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }} flash-message">
				{{ message }}

				<a href="" class="flash-message-exit">×</a>
			</div>
		{% endfor %}
	{% endfor %}
</div>
